<% content_for :title do %>Autorickshaw Productions<% end %>
<% content_for :description do %>Website of Autorickshaw Productions<% end %>
<section class="row">
	
	<div class="small-12 medium-6 columns">
		<div class="panel">
			<p>Sound Thief is the first of a series of mini-documentaries featuring independent musicians based in four cities. This one features Jivraj Singh, drummer for Pinknoise, and designer/ producer. Born to parents who lived life on the road and made music, music was not so much a glamorous externality as much as a way of life for Jivraj. Watch us as we talk to him about his personal experiences and how they've impacted his music, as well as show you a lesser known musical fascination of his."</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Featured Artist - Jivraj Singh</p>
<p>Direction - Aditya Kapur</p>
<p>Cinematography - Arnold Fernandes, Aditya Kapur</p>
<p>Assistance in Direction - Sombit Mondal</p>
<p>Producer - Aastha Singh</p>
<p>Editor - Rajdeep Mitra</p>
<p>Colorist - Gairik Sarkar</p>
<p>Graphic design - Priyanka Mehta</p>
<p>Production - <span id="u116-22">Autorickshaw Productions</span></p>
</div>
</div>
<div class="small-12 medium-6 columns">
		<div class="flex-video widescreen vimeo">
		<iframe src="//player.vimeo.com/video/73288415?color=ffbb00" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/73288415">Sound Thief / Teaser</a> from <a href="http://vimeo.com/autorickshawproductions">Autorickshaw Productions</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<div>
	
  <ul class="example-orbit" data-orbit>
  <li>
    <%= image_tag "5_0.png" %>
    
  </li>
  <li class="active">
    <%= image_tag "5_1.png" %>
    
  </li>
  <li>
    <%= image_tag "5_2.png" %>
    
  </li>
  <li>
    <%= image_tag "5_3.png" %>
    
  </li>
  <li>
    <%= image_tag "5_4.png" %>
    
  </li>
  <li>
    <%= image_tag "5_5.png" %>
    
  </li>
  <li>
    <%= image_tag "5_6.png" %>
    
  </li>
  <li>
    <%= image_tag "5_7.png" %>
    
  </li>
  <li>
    <%= image_tag "5_8.png" %>
    <li>
    <%= image_tag "5_9.png" %>
    
  </li>
    
   </ul>

</div>
</section> 

