<% content_for :title do %>Autorickshaw Productions<% end %>
<% content_for :description do %>Website of Autorickshaw Productions<% end %>
<section>
  	<div class="column">
	<%= image_tag "autologo.png" %>
	</div>
	<div class="column">
	<h2>The home of good films</h2>
	<p>...aesthetics beyond form.</p>
	</div>
</section>
<section>
  <div class="column">
    <h2>Stay in touch.</h2>
    <p>We don't just make films. We share our dreams</p>
  </div>
  <div class="column">
    <div class="form">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
        <br/>
        <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>

