<% content_for :title do %>Contact<% end %>
<section class="row">
	<div class="small-12 medium-6 columns">
	   <%= image_tag "contact page layout with different elements-camera .png" %>
	</div>
  <div class="small-12 medium-6 columns">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
   <div class="form">
    <h3>Contact</h3>
      <p>&nbsp;</p>
        <%= simple_form_for @contact do |form| %>
         <%= form.error_notification %>
         <%= form.input :name, autofocus: true %>
         <%= form.input :email %>
         <%= form.input :content, as: :text %>
         <%= form.button :submit, 'Submit', class: 'submit' %>
        <% end %>
   </div>
  </div>
  
</section> 
